nav{
background-color: black;
}

nav ul {
    display: flex; /* add if you want align-items/justify-content to work */
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    transition: all 0.3s ease; /* smooth transition for hover effects */
    padding: 10px 15px; /* optional: gives the element some size so*/
}
li button{
    border: 1px solid #000;  
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    padding: 6px 10px;      /* optional: gives the element some size so border is visible */
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font: sans-serif;
}
li button:hover {
    transform: scale(1.2); 
}
.box{
    border: 1px solid #000;  
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    padding: 6px 10px;      /* optional: gives the element some size so border is visible */
    background-color: lightgray;
    color: black;
    font: sans-serif;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color:#001e4d;
    font-weight: 600;
    border-bottom: 2px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px;

}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background:#fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
background: #222;
color: #fff;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}